/*Styling af typografi. Har brugt googlefonts*/
body {
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #000;
}
/*styling af forsiden, og de tre containers*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    position: relative;
}
/*Footer (på alle sider)*/
footer{
  font-size: small;
  font-weight: lighter;
  text-align: center;
}

/*fjerner blå farve, streg under links*/
a {
  color: inherit;
  text-decoration: none; 
}

/*Logo, øverst til venstre*/
.logo-container {
    flex: 1;
}

.logo {
    width: 175px;
    height: auto; 
}
/*styling af nav bar*/
.nav-container {
    flex: 2;
    display: flex;
    justify-content: center;
    white-space: nowrap;
    left: 70px;
}

nav ul {
    list-style-type: none;
    margin-right: 100px;
    padding: 0;
    display: flex;
    gap: 200px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    font-weight: lighter;
    font-size: 30px;
}

main {
    display: flex;
    justify-content: space-between; 
    margin-top: 10px;
}
/*Styling af de tre containers. Der er indsat en hvid boks, som har fået en gul kant*/
.indexcontainer {
    background-color: rgb(255, 255, 255);
    border: 2px solid;
    border-color: #ffd737;
    width: 25%; 
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 50px;
    margin-top: 50px;
    text-align: center;
    font-size: 30px
}
/*Billederne på frontpage har ikke samme størrelse. Derfor denne styling*/
.indexcontainer img {
    width: 100%;
    height: 350px; 
    object-fit: scale-down; 
    border-radius: 5px; }

.indexcontainer p {
    margin-top: 10px;
}
/*styling af 'About' side. Her er igen brugt containers, for at få den gule kant omkring tekst og billede*/
.aboutcontainer {
    border: 2px solid #ffd737;
    padding: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #f9f9f9;
    font-size: 25px;
    
}
/* placeringen af billede til højre for teksten*/
.aboutcontainer img {
    float: right;
    width: 20%;
    height: auto;
    margin: 50px;
}
/*Styling af 'News' siden*/
.newscontainer {
    background-color: rgb(255, 255, 255);
    border: 2px solid;
    border-color: #ffd737;
    width: 25%; 
    height: 500px;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 50px;
    margin-top: 50px;
    text-align: center;
    font-size: 30px
  }
  
  .newscontainer img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  .newscontainer p {
    font-size: 30px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 20px;
  }
/*styling af collaboration*/
  .collaborationcontainer {
    border: 2px solid #ffd737;
    padding: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #f9f9f9;
    font-size: 25px;
  }
  
  .collaborationcontainer img {
    float: right;
    width: 20%;
    height: auto;
    margin: 50px;
  }
  
  .collaborationcontainer p {
    font-size: 18px;
    margin-top: 10px;
    text-align: left;
  }
/*styling af 'Social Club' siden*/
  .socialclubcontainer {
    border: 2px solid #ffd737;
    padding: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #f9f9f9;
    font-size: 25px;
  }
  
  .socialclubcontainer img {
    float: right;
    width: 30%;
    height: auto;
    margin: 50px;
  }
  
  .socialclubcontainer h1 {
    font-size: 30px;
    margin-bottom: 10px;
  }
  
  .socialclubcontainer p {
    font-size: 25px;
    color: #000000;
    margin-bottom: 20px;
  }

  /*Styling af 'Beer' siden*/
  .beercontainer {
    border: 2px solid #ffd737;
    padding: 60px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #f9f9f9;
    font-size: 25px;
  }
  
  .beercontainer img {
    width: 100%;
    height: 500px;
    object-fit: scale-down;
    margin-bottom: 10px;
  }
  
  .beercontainer h1 {
    font-size: 30px;
    margin-bottom: 10px;
  }
  
  .beercontainer p {
    font-size: 20px;
    color: #000000;
    margin-bottom: 20px;
  }
  
/* Responsiv styling*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


@media (max-width: 768px) {
  /* Tablet*/
  .container {
    max-width: 90%;
    margin: 0 auto;
  }
  .indexcontainer, .newscontainer, .socialclubcontainer {
    flex-direction: column;
    align-items: center;
  }
  .indexcontainer img, .newscontainer img, .socialclubcontainer img {
    width: 100%;
    height: auto;
  }
  .indexcontainer p, .newscontainer p, .socialclubcontainer p {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  /*mobil*/
  .container {
    max-width: 95%;
    margin: 0 auto;
  }
  .indexcontainer, .newscontainer, .socialclubcontainer {
    flex-direction: column;
    align-items: center;
  }
  .indexcontainer img, .newscontainer img, .socialclubcontainer img {
    width: 100%;
    height: auto;
  }
  .indexcontainer p, .newscontainer p, .socialclubcontainer p {
    font-size: 14px;
  }
}

